<form class="mb-3" (ngSubmit)="submitForm()" #form="ngForm">
  <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="name" ngModel required>
  </div>
  <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" ngModel required email>
  </div>
  <div class="form-group" >
      <label>Phone</label>
      <input type="number" class="form-control"  name="phone" ngModel required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
</form>