<mat-card>
    <mat-card-content>
        <form class="example-form" (ngSubmit)="submitForm()" #form="ngForm">
            <mat-form-field class="example-full-width">
                <input matInput ngModel required placeholder="Name" name="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput ngModel required email placeholder="Email" name="email">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput ngModel required placeholder="Phone" name="phone">
            </mat-form-field>

            <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
        mat-raised-button color="primary">Add</button>
        </form>
    </mat-card-content>
</mat-card>